body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #1125e8, #11bee8);
}

header{
    display: flex;
    justify-content: center;
    width: 50€;
    height:auto ;
    background-color: #2849c2;
}

header h2{
    color: white;
}

